@mixin phone {
    @media screen and (max-width: 599px) { @content; }
}

@mixin tablet {
    @media screen and (max-width: 768px) { @content; }
}

@mixin pane {
    padding: 1rem;
    background-color: $white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    height: 100%;
    border-radius: $borderRadius;

}
