// FONT
$fontFamily: source-sans-pro, sans-serif;
$fontWeight: 400;
$fontStyle: normal;

// COLOR
$white: #ffffff;
$lightGrey: #999999;
$medGrey: #666666;
$darkGrey: #333333;
$purple: #893248;
$blue: #4862ad;
$green: #51a03a;
$yellow: #ffb316;
$orange: #fc5132;
$red: #aa0015;

// ETC
$borderRadius: 4px;
$inputHeight: 2rem;
