.container {
    display: flex;
    flex-flow: row wrap;

    &.fullWidth {
        flex: 0 0 100%;
    }
}

.input {
    border: 2px solid #666666;
    border-radius: 4px;
    height: 2rem;
    flex: 1 0 auto;

    &:focus {
        border-color: 'pink';
    }
}

.label {
    align-self: center;
    padding-right: 8px;
}
